<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Division</key>
	<array>
		<dict>
			<key>DivisionCode</key>
			<string>310000</string>
			<key>DivisionName</key>
			<string>上海市</string>
			<key>DivisionSub</key>
			<array>
				<dict>
					<key>DivisionCode</key>
					<string>310100</string>
					<key>DivisionName</key>
					<string>上海市</string>
					<key>DivisionSub</key>
					<array>
						<dict>
							<key>DivisionCode</key>
							<string>310101</string>
							<key>DivisionName</key>
							<string>黄浦区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310104</string>
							<key>DivisionName</key>
							<string>徐汇区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310105</string>
							<key>DivisionName</key>
							<string>长宁区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310106</string>
							<key>DivisionName</key>
							<string>静安区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310107</string>
							<key>DivisionName</key>
							<string>普陀区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310108</string>
							<key>DivisionName</key>
							<string>闸北区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310109</string>
							<key>DivisionName</key>
							<string>虹口区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310110</string>
							<key>DivisionName</key>
							<string>杨浦区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310112</string>
							<key>DivisionName</key>
							<string>闵行区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310113</string>
							<key>DivisionName</key>
							<string>宝山区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310114</string>
							<key>DivisionName</key>
							<string>嘉定区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310115</string>
							<key>DivisionName</key>
							<string>浦东新区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310116</string>
							<key>DivisionName</key>
							<string>金山区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310117</string>
							<key>DivisionName</key>
							<string>松江区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310118</string>
							<key>DivisionName</key>
							<string>青浦区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
						<dict>
							<key>DivisionCode</key>
							<string>310120</string>
							<key>DivisionName</key>
							<string>奉贤区</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>DivisionCode</key>
					<string>310200</string>
					<key>DivisionName</key>
					<string>县</string>
					<key>DivisionSub</key>
					<array>
						<dict>
							<key>DivisionCode</key>
							<string>310230</string>
							<key>DivisionName</key>
							<string>崇明县</string>
							<key>DivisionSub</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>DivisionVersion</key>
	<string>1.1</string>
</dict>
</plist>
